.outer{
    max-width: 1100px;
    padding: 20px 20px;
}

@media screen and (min-width: 1200px) {
  #main {
    display: inline;
    float: left;
    width: 65%;
    margin: 0 0.769230769230769%;
  }
}
@media screen and (min-width: 800px) and (max-width: 1199px) {
  #main {
    display: inline;
    float: left;
    width: 100%;
    margin: 0 0.769230769230769%;
  }
}

@media screen and (min-width: 1200px){
#sidebar {
    display: inline;
    float: left;
    width: 25.538462%;
    margin: 0 0.769230769230769%;
  }
}